management:
  endpoints:
    web:
      exposure:
        include: '*'

logging:
  level:
     org.springframework.web: DEBUG
     guru.springframework.controllers: DEBUG
     org.hibernate: DEBUG        
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/psyightdashboard?createDatabaseIfNotExist=true
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: update
    show-sql: true
  application:
    name: psyight-dashboard
  
server:
  port: 8081 


  
