<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
"hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
         <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
       <!--  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/psyightdashboardtest</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property> 
          -->
         <!--  --><property name="hibernate.connection.url">jdbc:mysql://139.162.62.230:3306/psyightdashboard</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">agrima_i876##</property>  
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>      
        <mapping class="com.dashboard.model.User" />
        <mapping class="com.dashboard.model.Groups" />
        <mapping class="com.dashboard.model.Products" />
        <mapping class="com.dashboard.model.ProductImage" />
        <mapping class="com.dashboard.model.Campaign" />
        <mapping class="com.dashboard.model.CampaignProducts" />
    </session-factory>
</hibernate-configuration>